<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src={% static 'profiles/js/jquery-3.6.3.min.js' %}></script>
    <link rel="stylesheet" href={% static 'profiles/css/bootstrap.min.css' %}>
    <title>Document</title>
</head>

<body>
    <h1>{{ content }}</h1>
    <ul id="display-data">

    </ul>
    <form action={% url 'createProfiles' %} method="post" id="post-form">
        {% csrf_token %}
        <p>Name</p> <input type="text" name="name" id="name"><br>
        <p>E-mail</p> <input type="email" name="email" id="email"><br>
        <button type="submit">Reg</button>
    </form>

    <script>
        $(document).ready(() => {
            setInterval(() => {
                $.ajax({
                    type: "GET",
                    url: "{% url 'getProfiles' %}",
                    success: (response) => {
                        // response.profiles.forEach(element => {
                        //     console.log(element.name)
                        // });
                        $("#display-data").empty();
                        for (key in response.profiles) {
                            let temp = '<li>'+response.profiles[key].name+'</li>'
                            $("#display-data").append(temp)
                        }
                    },
                    error: (response) => {
                        alert("Error")
                    }
                })
            }, 1000)
        })

    </script>
</body>

</html>